<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/reset.css" type="text/css"/>
  <link rel="stylesheet" href="/public/base.css" type="text/css"/>
  <link rel="stylesheet" href="/public/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/public/modules.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <title>Weekend Warrior</title>
</head>
<body>
  <header></header>
  <main>
    <img id="logo" src="/public/images/weekend_warrior_logo.png"/>




