
<h4 id="music_header"> Suggested Local Artists </h4>
<!-- <div id="music_containerTwo"> -->
  <% tunesResults.forEach(oneTune => { %>
    <div id="music_container">
  <h5 id="music_name"><%= oneTune.name %></h5>
  <h5 id="music_genre"><%= oneTune.genre %></h5>
<% }) %>
</div>
<!-- </div> -->
