<%- include('header.ejs') %>
<div id="bioPage">
  <section id="daisy">
<h2>Daisy</h2>
<img class="bioPic" src="/public/images/daisy_weekend_warrior.jpg"/>
<p>Bio</p>
</section>
<section id="stephen">
<h2>Steve</h2>
<img class="bioPic" src="/public/images/steve_weekend_warrior.jpg"/>
<p>Bio</p>
</section>
<section id="chris">
<h2>Chris</h2>
<img class="bioPic" src="/public/images/chris_weekend_warrior.png"/>
<p>Bio</p>
</section>
<section id="paul">
<h2>Paul</h2>
<p>Bio</p>
</section>
</div>
<%- include('footer.ejs') %>