<%- include('./partials/header.ejs') %>
<div id="bioPage">
  <section id="daisy">
<h2>Daisy</h2>
<img class="bioPic" src="/public/images/daisy_weekend_warrior.jpg"/>
<p>Bio</p>
</section>
<section id="stephen">
<h2>Steve</h2>
<img class="bioPic" src="/public/images/steve_weekend_warrior.jpg"/>
<p>Bio</p>
</section>
<section id="chris">
<h2>Chris</h2>
<img class="bioPic" src="/public/images/chris_weekend_warrior.png"/>
<p>Hi, I’m Chris, and I’m a software developer based in Seattle.  I plan to use my previous experience in graphic design and screenprinting, to transition to a new career in software development.  In my previous career, as a small business owner, I had direct contact with clients and worked daily with them to create products they were proud of.  Additionally, I had to be flexible in my processes to deliver the best product.  With any trade, I had to do constant research and practice to keep my skills sharp and up to date.  I look forward to starting down this path with software development.</p>
</section>
<section id="paul">
<h2>Paul</h2>
<p>Bio</p>
</section>
</div>
<%- include('./partials/footer.ejs') %>