<%- include('header.ejs') %>

<h2>Daisy</h2>
<img src="/public/images/daisy_weekend_warrior.jpg"/>
<p>Bio</p>

<h2>Steve</h2>
<img src="/public/images/steve_weekend_warrior.jpg"/>
<p>Bio</p>

<h2>Chris</h2>
<img src="/public/images/chris_weekend_warrior.png"/>
<p>Bio</p>

<h2>Paul</h2>
<p>Bio</p>

<%- include('footer.ejs') %>