<%- include('header.ejs') %>


<div id="hiking_favorites">
<h4> Hiking </h4>
<img class="favPics" src="/public/images/steve_weekend_warrior.jpg" alt="name"/>
 <h5> name </h5>
<h5> Distance</h5>
<h5>Total elevation </h5>
<p> Description</p>
<h6> Difficulty rating</h6>
<h6>Condtion status</h6>
<h7> Reviews </h7>
</div>

<%- include('footer.ejs') %>