<%- include('./partials/header.ejs') %>
<div id="indexPage"> 
<form action="/location" method="GET">  
  <h2 class="formTitle">What is your name?</h2>
  <input type="text" name="userName" placeholder="Enter your name!" required>
  <h2 class="formTitle">Where do you want to go?</h2>
  <input type="text" name="city" placeholder="Enter a city or zipcode" required>
  <!-- <h2>How much time do you have?</h2>
  <input type="text" name="time" placeholder="Enter amount of time" required> -->
  <h2 class="formTitle">How do you want to spend your weekend?</h2>
  <select name="type" id="dropdown">
    <option value="hiking">Hiking</option>
    <option value="climbing">Rock Climbing</option>
    <option value="camping">Camping</option>
    <option value="mountainbiking">Mountain Biking</option>
    <option value="snowsports">Snow Sports</option>
    <option value="brewery">Drinking beer</option>
    <option value="music">Listening to Local Music</option>
  </select>
  <button id="indexButton" type="submit">Find Your Adventure</button>
</form>
</div>
<%- include('./partials/footer.ejs') %>