


<%- include('./partials/header.ejs') %>
<h3>Your weekend suggestions</h3>







<%- include('./partials/music.ejs') %>



<%- include('./partials/camping.ejs') %>

<%- include('./partials/footer.ejs') %>