


body{
  width: 100%;
  text-align: center;

}

#background_image{
  margin-top: -10px;
  background-image: url(/public/images/road-sun-rays-path.jpg)
}


/* Tablet View  */
@media only screen and (min-width: 480px) and (max-width: 991px){
  body{
    width: 100%;
    background-color: #307351;
  }

  img{
    margin-top: 10px;
    width: 70%;
  }

  #indexPage{
    background-image: url(/public/images/road-sun-rays-path.jpg);
  }

  #resultsHead{
    background-color: #307351;
    font-size: 3em;
    line-height: 100px;
  }

  #suggestions{
    height: 100px;

  }

  #resultsPage{
    background-color:rgb(164, 161, 158);
  }

  .results{
    background-color:#DA7635;
    border: 3px solid rgba(62, 41, 27, 0.305);
    border-radius: 5px;
    margin: 5px;
  }
}

/* Desktop View */
@media only screen and (min-width: 992px){
  body{
    width:100%;
    background-color: #307351;

  }
#bioPage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 120px 320px 320px 320px 120px;  
}
  #daisy{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #chris{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #stephen{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #paul{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
#indexPage{
  background-image: url(/public/images/road-sun-rays-path.jpg);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 300px 300px;
}
form{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
#resultsPage{
  background-color:rgb(164, 161, 158);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
}
#activityResults{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
} 
#resultsHead{
  background-color: #307351;
  grid-column-start: 2;
  grid-column-end: 5;
  line-height: 100px;
}

#suggestions{
  height: 100px;
}

.results{
  align-items: center;
  background-color:#DA7635;
  border: 3px solid rgba(62, 41, 27, 0.305);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.activity{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

img{
  margin-top: 10px;
  max-height: 300px;
  width: 70%;
}

}