/* // h tags */

/* h1 {
background-color: red;
} */

h2{
background-color: royalblue;
font-size: 3em;
padding:15px;
font-weight: bold;
font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  text-align: center;
}

 h4 {
   font-size: 4em;
   padding: 15px;

}

h5{
  font-size: 2em;
  padding: 10px;


}

h6 {
  font-size: 1em;
  padding: 7px;

}

h7 {
  font-size: 1em;
  font-style: italic;
  padding: 7px;

} 

p{
  font-size: 1.5em;
  padding: 7px;
}

/* favorites page  */
#hiking_favorites {
background-color: #DA7635;
padding-bottom: 25px;;
}

#camping_favorites {
background-color: #654236;
}

#climbing_favorites {
  background-color: #DA7635;
}

.favPics{
  width: 75%;
  height:auto;
  display:block;
  margin: auto;
 
}

/* Bio Page  */

.bioPic{
  width: 50%;
  height:auto;
  display:block;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 10px;

}


